<ion-view view-title="Settings">
<ion-content>

    <h1>Settings</h1>
    
    <button class="button button-balanced" on-tap="tester()">Hit This</button>
    <div>
        <ion-list>
            <ion-item ng-repeat="password in passwords">Website: {{password.website}}, User Name: {{password.userName}}</ion-item>
        </ion-list>
        <div class="list">
        
        <label class="item item-input">
        <input type="text" placeholder="Website URL" ng-model="dese.newWebsite"/>
        </label>

        <label class="item item-input">
        <input type="text" placeholder="User Name/Email" ng-model="dese.newUserName"/>
        </label>
        
        <label class="item item-input" ng>
        <input type="text" placeholder="Password" ng-model="dese.newPassword"/>
        </label>
            
        </div>
        <button class="button button-full button-dark" on-tap="">Submit Entry</button>
    </div>
    </ion-content>
</ion-view>