<ion-view view-title="Vault">

<ion-content scroll="true">     
    <h1 id="majorHeader">Welcome Josh</h1>
    
    <div>
        <ion-list>
          <ion-item ng-repeat="password in mpc.allPasswords" href="#/account/vault/{{mpc.allPasswords.indexOf(password)}}">
<!--               href="#/account/vault/{{allPasswords.indexOf(password)}}"-->
        Website: {{password.website}} User Name: {{password.userName}}
      </ion-item>
        </ion-list>
    </div>
    </ion-content>
 <div class="bar bar-footer">
        <button class="button button-full button-dark" ng-click="mpc.goToNewEntryPage()" style="position: fixed; bottom: 3.5em">
  Add New Entry
</button>
    
    </div>
</ion-view>