<ion-view hide-back-button="false" view-title="Entry">
    <ion-content>
<!--
        <div>
          <h1 ng-repeat="entry in dbEntries" href="#/account/vault/{{entry.$id}}">
        {{entry.password}}
      </h1>
    </div>for testing
-->
        
        
        
        <div>
            <h3>Website: {{mpc.allPasswords[mpc.entryIndex].website}}<br>User Name: {{mpc.allPasswords[mpc.entryIndex].userName}}<br>Password: {{mpc.allPasswords[mpc.entryIndex].password}}</h3>
        </div>
        <button class="button button-full button-assertive" ng-click="deleteJLockEntry()" ui-sref="account.vault" nav-direction="back">Delete Entry</button>
    </ion-content>
</ion-view>