/* Empty. Add your own CSS if you like */


#bridge{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.highlight{
    background-color: grey;
    color: firebrick;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}


.highlight.sign{
    border: 5px outset grey;
    width: 75px;
    left: 40%;
    display: inline-block;
    bottom: 100px;

}

.highlight.sign:active{
    background-color: #FF1707;
    border: 5px inset #FF1707;
}


#featureLabel{
    text-align: center;
    font-family: Geneva;
    font-size: 40px;
}

.feature{
    width: 33%;
    display: inline;
    padding-top: 30px;

}

p{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    font-family: Geneva;
    padding-top: 50px;
    padding-bottom: 40px;
}

form{
    align-content: center;
}

input{
    width: 44%;
    height: 100px;
    font-size: 50px;
}

.labels{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#majorHeader{
    text-align: center;
}
